body {
    background-color: #323232;
    margin: 0;
    padding: 0;
}

h1 {
    color: #14FFEC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 4.25em;
    margin: 0;
    padding: 0;
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 3.75em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.text {
    margin: 1%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.landing_page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav a {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: grey;
    font-weight: bold;
    width: 50%;
    top: 0;
    z-index: 2;
    padding: 0;
}

.navbar-nav>li {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link::after {
    content: '';
    transition: all 0.2s;
    opacity: 0;
    height: 2px;
    width: 200%;
    background-color: #14FFEC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link {
    position: relative;
}

@media (max-width: 575px) {
    #landing_page {
        height: calc(100vh - 56px);
    }
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #14FFEC;
}